@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
  color: #444;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
.section-title span {
  text-transform: none;
  font-weight: 400;
  color: #777777;
}

/* Layout */
.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar,
.posts {
  background: #fff;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid #444;
  border-radius: 5px;
}

/* Logo */
.logo {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list .active {
  font-weight: bold;
}

.list-horizontal li {
  display: inline-block;
}

/* Authors */
.authors li {
  margin-bottom: 12px;
}

/* Post */
.post {
  display: none;
}
.post.active {
  display: block;
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
}
.post-tags p {
  margin: 0 10px 0 0;
}

.sidebar .tags li {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}
.sidebar .tags li .tag-size-1 {
  font-size: 12px;
}
.sidebar .tags li .tag-size-2 {
  font-size: 14px;
}
.sidebar .tags li .tag-size-3 {
  font-size: 16px;
}
.sidebar .tags li .tag-size-4 {
  font-size: 18px;
}
.sidebar .tags li .tag-size-5 {
  font-size: 20px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBUSxxSEFBQTtBQUdSLGNBQUE7QUFTQSxXQUFBO0FBRUE7OztFQUdDLHNCQUFBO0FDVkQ7O0FEYUE7RUFDQyxnQkFoQmE7RUFpQmIsMENBWlc7RUFhWCxXQWpCWTtFQWtCWixnQkFBQTtFQUNBLGVBQUE7RUFDQSxnQkFBQTtBQ1ZEOztBRGFBO0VBQ0MsaUJBQUE7RUFDQSxjQUFBO0FDVkQ7O0FEYUE7RUFDQyxlQUFBO0VBQ0EseUJBQUE7RUFDQSxpQ0E1QmE7RUE2QmIsZ0JBQUE7QUNWRDtBRFdDO0VBQ0Msb0JBQUE7RUFDQSxnQkFBQTtFQUNBLGNBQUE7QUNURjs7QURhQSxXQUFBO0FBRUE7RUFDQyxhQUFBO0VBQ0EsaUJBQUE7QUNYRDs7QURjQTtFQUNDLFdBQUE7QUNYRDs7QURjQTtFQUNDLFdBQUE7QUNYRDs7QURjQTs7RUFFQyxnQkExRGE7RUEyRGIsa0JBQUE7RUFDQSxhQUFBO0VBQ0Esc0JBQUE7RUFDQSxrQkFBQTtBQ1hEOztBRGNBLFNBQUE7QUFFQTtFQUNDLGtDQWpFVztFQWtFWCxnQkFBQTtFQUNBLGdCQUFBO0VBQ0EsY0FBQTtFQUNBLGtCQUFBO0FDWkQ7O0FEZUEsVUFBQTtBQUVBO0VBQ0MscUJBQUE7RUFDQSxTQUFBO0VBQ0EsVUFBQTtBQ2JEO0FEY0M7RUFDQyxpQkFBQTtBQ1pGOztBRGlCQztFQUNDLHFCQUFBO0FDZEY7O0FEa0JBLFlBQUE7QUFHQztFQUNDLG1CQUFBO0FDakJGOztBRHFCQSxTQUFBO0FBRUE7RUFDQyxhQUFBO0FDbkJEO0FEb0JDO0VBQ0MsY0FBQTtBQ2xCRjs7QURzQkE7RUFDQyxrQkFBQTtBQ25CRDs7QURzQkE7RUFDQyxhQUFBO0FDbkJEO0FEb0JDO0VBQ0Msa0JBQUE7QUNsQkY7O0FEd0JDO0VBQ0MscUJBQUE7RUFDQSxrQkFBQTtFQUNBLHNCQUFBO0FDckJGO0FEc0JFO0VBQ0EsZUFBQTtBQ3BCRjtBRHNCRTtFQUNBLGVBQUE7QUNwQkY7QURzQkU7RUFDQSxlQUFBO0FDcEJGO0FEc0JFO0VBQ0MsZUFBQTtBQ3BCSDtBRHNCRTtFQUNBLGVBQUE7QUNwQkYiLCJmaWxlIjoic3R5bGUuY3NzIn0= */